<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>edit content</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://cdn.tiny.cloud/1/uyc7225e9ry9kn04gdvencyfaa091nvlr3lj1bfbjy6e66xj/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink autoresize lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
            toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
        });
    </script>
</head>

<body style="overflow-y: scroll;">
    <div class="header">
        <ul class="desktop-menu">
            <li class="menu-item"><a></a></li>
            <li class="menu-item"><a href="/content">content</a></li>
            <li class="menu-item"><a></a></li>
        </ul>

        <a href="/">
            <div class="burger-container">

                <div id="burger">
                    <canvas id="canvas-menu" class="canvas-category"></canvas>
                    <div class="bar topBar"></div>
                </div>
            </div>
        </a>
        <canvas id="canvas-header" class="canvas-category"></canvas>
    </div>

    <!-- <canvas id="canvas-index-sidebar" class="canvas-category"></canvas> -->

    <footer class="footer sub-footer--container">
        <canvas id="canvas-footer" class="canvas-category"></canvas>
    </footer>

    <div class="container-xxl pbt-80">
        <p>editing <%= blog.title %></p>
        <form action="/blogs" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label class="w-100" for="title">Title</label>
                <input type="text" class="w-100" placeholder="Title" name="title" value="<%= blog.title %>" required>
            </div>

            <div class="form-group">

                <label class="w-100" for="subtitle">SubTitle</label>
                <input type="text" class="w-100" placeholder="SubTitle" name="subtitle" value="<%= blog.subtitle %>" required>
            </div>
            <div class="form-group">
                <label class="w-100" for="category">Category</label>
                <input type="radio" class="" placeholder="Category" name="category" value="DA" required>
                <label for="category">DA</label>
                <input type="radio" class="" placeholder="Category" name="category" value="DB" required>
                <label for="category">DB</label>
                <input type="radio" class="" placeholder="Category" name="category" value="OS" required>
                <label for="category">OS</label>
                <input type="radio" class="" placeholder="Category" name="category" value="CN" required>
                <label for="category">CN</label>
                <input type="radio" class="" placeholder="Category" name="category" value="CA" required>
                <label for="category">CA</label>
                <input type="radio" class="" placeholder="Category" name="category" value="AI" required>
                <label for="category">AI</label>
            </div>
            <div class="form-group">
                <label for="description">Content</label>
                <textarea name="description" placeholder="Description" class="">
                    <%= blog.description %>
                </textarea>
            </div>

            <div class="form-group">
                <a href="/" class="btn pl-0">Cancel</a>
                <button type="submit" class="btn">Save</button>
            </div>
        </form>
    </div>
    <script src="/js/noise.js"></script>
    <!-- <script src="/js/index.js"></script> -->
    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
    <!-- <script src="/js/canvas-index-sidebar.js"></script> -->
    <script src="/js/menu.js"></script>
</body>

</html>